# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# My configurations:
lkjl;kj;lkjl;kjlkjasdlk;fja;sldkfjdasl;kfjasdlkfjaldsjfakls
lkjl;kj;lkjl;kjlkjasdlk;fja;sldkfjdasl;kfjasdlkfjaldsjfakls.pub